:root {
    --color-primary: #08A6E4;
    --color-primary-shadow: rgba(7, 172, 230, .16);
    --color-redish: #FB3B64;
    --color-green: #55DFB4;
    --color-black: #000000;
    --color-grey: #A5A5A5;
    --color-light-grey: #F7F7F7;
    --color-white: #FFFFFF;
    --font-raleway: "Raleway", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--font-open-sans);
}

a {
    text-decoration: none;
}

h1 {
    font-size: 49px;
    line-height: 57px;
    margin-bottom: 20px;
}

h2 {
    font-family: var(--font-raleway);
    font-size: 2.25rem;
}

.container {
    width: 1352px;
    margin: 0 auto;
}

.title {
    text-align: center;
    font-family: var(--font-raleway);
    color: var(--color-black);
}

.header {
    height: 70px;
    box-shadow: 0 3px 6px #00000029;
}

.header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.logo {
    display: flex;
    align-items: center;
    margin: 10px;
    font-size: 32px;
    color: var(--color-primary);
}

.header-nav {
    display: flex;
}

.header-nav__element {
    padding: 0 26px;
}

.nav__element:last-child {
    padding-right: 0;
}

.header-list-link {
    color: var(--color-grey);
    font-weight: 700;
    font-size: 0.6875rem;
    text-transform: uppercase;
    padding: 28px 18px 22px;
    border-bottom: 4px solid transparent;
    letter-spacing: 0.1875rem;
}

.header-list-link:hover {
    color: var(--color-black);
    border-color: var(--color-primary);
}

.opening {
    display: flex;
    flex-direction: column;
    justify-content: center;
    top: 100px;
    align-items: center;
    position: relative;
    text-align: center;
}

.opening__content {
    margin-top: 130px;
    text-align: center;
    position: center;
}

.opening__title {
    line-height: 22px;
    padding-bottom: 40px;
}

.opening__class {
    margin-top: 40px;
    margin-bottom: 38px;
    color: var(--color-black);
    text-align: center;
    font-size: 16px;
}

.opening__image {
    width: 100%;
    height: auto;
}

.btn {
    border-radius: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    color: var(--color-white);
    padding: 22px 157px;
    margin: 40px;
}

.opening-button {
    background-color: var(--color-primary);
    box-shadow: 5px 10px 14px var(--color-primary-shadow);
}

.statistics {
    margin-top: 100px;
}

.statistics__title {
    text-align: center;
    padding-top: 100px;
    color: var(--color-black);
}

.statistics__container {
    max-width: 800px;
    margin: 100px auto 120px;
    display: flex;
    justify-content: space-between;
}

.statistics__single {
    max-width: 160px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    font-family: var(--font-raleway);
}

.statistics__circle {
    border-radius: 50%;
    width: 63px;
    height: 63px;
    position: relative;
}

.statistics__img {
    position: absolute;
}

.statistics__single:nth-child(1) .statistics__circle {
    background-color: var(--color-redish);
}

.statistics__single:nth-child(1) .statistics__img {
    top: 0;
    left: 45%;
}

.statistics__single:nth-child(2) .statistics__circle {
    background-color: var(--color-primary);
}

.statistics__single:nth-child(2) .statistics__img {
    top: 14px;
    left: 47%;
}

.statistics__single:nth-child(3) .statistics__circle {
    background-color: var(--color-green);
}

.statistics__single:nth-child(3) .statistics__img {
    top: 6px;
    left: 50%;
}

.statistics__number {
    font-size: 1.25rem;
    font-weight: 800;
    letter-spacing: 0.1875rem;
    margin-top: 13px;
    color: var(--color-black);

}

.statistics__description {
    color: var(--color-grey);
    margin-top: 19px;
}

.benefits {
    margin-top: 100px;
    background-color: var(--color-light-grey);
    padding: 2px;
}

.benefits__container {
    margin: 100px auto 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 0 100px;
}

.benefits-box-one {
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: var(--color-white);
    border: 1px solid #E8E9ED;
    align-items: flex-end;
    margin-bottom: 37px;
    border-radius: 5px;
    height: 370px
}

.benefits-text {
    max-width: 416px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 90px 36px;
}

.benefits-text::after {
    content: "";
    width: 332px;
    height: 4px;
    background-color: var(--accent-color);
    display: block;
    margin-top: 50px;
}

.benefits__title {
    top: 1640px;
    left: 287px;
    width: 246px;
    text-align: left;
    font-size: 36px;
    font-family: var(--font-raleway);
    color: var(--color-black);
    padding-bottom: 20px;
}

.benefits__description {
    top: 1712px;
    left: 286px;
    width: 416px;
    height: 66px;
    text-align: left;
    font-size: 16px;
    color: var(--color-black);
}

.benefits__image {
    position: relative;
}

.benefits__image img {
    position: relative;
    z-index: 2;
}

.benefits-box-laptop {
    --accent-color: var(--color-redish);
}

.benefits-box-laptop .benefits__image {
    margin-right: 117px;
    margin-bottom: 38px;
}

.benefits-box-laptop .benefits__image::before {
    content: "";
    width: 180px;
    height: 180px;
    background-color: var(--accent-color);
    display: block;
    border-radius: 40px;
    position: absolute;
    right: 0;
    top: -40px;
    transform: rotate(45deg);
}

.benefits-box-laptop .benefits__image img {
    width: 386px;
    height: auto;
    position: relative;
    z-index: 2;
}

.benefits-box-phone {
    --accent-color: var(--color-primary);
    padding: 0 20px 0 70px;
}

.benefits-box-phone .benefits__image::before {
    content: "";
    width: 320px;
    height: 320px;
    background-color: var(--accent-color);
    display: block;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: -20px;
}

.benefits-box-phone .benefits__image img {
    width: 426px;
    height: auto;
}

.benefits-box-phone .benefits__text {
    margin: 70px 0;
}

.benefits-box-two {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: flex-end;
    margin-bottom: 37px;
    border-radius: 5px;
    height: 370px;
}

.benefits-box-trumpet {
    height: 370px;
    background: var(--color-white);
    --accent-color: var(--color-green);
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}

.benefits-box-trumpet .benefits__text {
    max-width: none;
    margin: 70px 35px;
}

.benefits__trumpet_image {
    top: 2364px;
    left: 935px;
    width: 440px;
    height: 370px;
    background: var(--color-green);
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    margin-left: 50px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.benefits-box-trumpet .benefits__trumpet_image img {
    width: 296px;
    height: auto;
    position: relative;
    z-index: 2;
    margin: 70px 90px;
    vertical-align: middle;
}
